.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ol,ul {
    list-style: none;
}

del {
    text-decoration: line-through;
}

body {
    font-family: "dm_sansregular";
    font-size: 17px;
    color: #1c2c40;
    overflow-x: hidden;
    min-width: 320px;
    font-weight: 400;
}

input,
textarea,
select {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    color: #1c2c40;
}

a:hover,
.submit:hover {
    filter: alpha(opacity = 85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}
        
.thumb {
    display: block;
}

.thumb img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.6em;
    font-size: 16px;
    font-family: Arial;
    font-weight: 400;
}

.hidden {
    display: none;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: 980px;
}

@font-face {
    font-family: "dm_sansbold";
    src: url("./components/assets/fonts/dmsans-bold-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/dmsans-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dm_sansmedium";
    src: url("./components/assets/fonts/dmsans-medium-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/dmsans-medium-webfont.woff")
            format("woff");
        font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "dm_sansregular";
    src: url("./components/assets/fonts/dmsans-regular-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/dmsans-regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gorditabold";
    src: url("./components/assets/fonts/gordita_bold-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/gordita_bold-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gorditaregular";
    src: url("./components/assets/fonts/gordita_regular-webfont.woff2")
            format("woff2"),
        url("./components/assets/fonts/gordita_regular-webfont.woff")
            format("woff");
    font-weight: normal;
    font-style: normal;
}